body {
	background-color: black;
	text-align: center;
}

h2, h3, p {
	color:  #00ff00;
	font-family: Courier New, Courier, monospace;
}


button {
    background-color: white; /* Green */
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
button:hover {
	background-color: #00ff00;
}